scipy
scikit-learn
numpy
opencv_python
Pillow
#torch # conda install pytorch==2.1.2 torchvision==0.16.2 torchaudio==2.1.2 pytorch-cuda=12.1 -c pytorch -c nvidia
#torchvision
tensorboardX
tqdm
ftfy
regex
pyyaml
Rich
#mmcv # pip install mmcv==2.1.0 -f https://download.openmmlab.com/mmcv/dist/cu121/torch2.1/index.html
onnxscript